<header>
  <a href="/">
    <img id="logo" src="/assets/images/radicle.svg" width="32" height="32" style="margin-top: 4px"/>
  </a>
  <div class="ticker">
    <div>RADICLE RADICLE RADICLE&nbsp;</div>
    <div>RADICLE PEER-TO-PEER NETWORK&nbsp;</div>
    <div>RADICLE SOVEREIGN FORGE&nbsp;</div>
    <div>RADICLE PEER-TO-PEER NETWORK&nbsp;</div>
    <div>RADICLE SOVEREIGN FORGE&nbsp;</div>
    <div>RADICLE PEER-TO-PEER NETWORK&nbsp;</div>
    <div>RADICLE SOVEREIGN FORGE&nbsp;</div>
    <div>RADICLE PEER-TO-PEER NETWORK&nbsp;</div>
    <div>RADICLE SOVEREIGN FORGE&nbsp;</div>
  </div>
</header>
