{% assign author = site.data.author[page.author] %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/blog.css" | relative_url }}"/>
  </head>
  <body>
    <header>
      <div class="title">
        <a href="/">
          <img src="{{ "/assets/images/radicle.svg" | relative_url }}" alt="" />
          <span>Blog</span>
        </a>
      </div>
      <nav>
      </nav>
      <button class="toggle" id="toggle-theme"><!-- Set by script --></button>
    </header>
    <main>
      <h1>{{ page.title }}</h1>
      <p class="subtitle">{{ page.subtitle }}</p>
      <span class="author">
	      Published by <a href="https://app.radicle.xyz/nodes/{{author.radicle.node | default: site.node }}/users/{{author.radicle.did}}">{{author.name}}</a>
	{% if author.fedi %}<a href="{{ author.fedi | remove_first: "@" | split: "@" | reverse | join: "/@" | prepend: "https://" }}">🐘</a>{% endif %}
	{% if author.atproto %}<a href="{{ author.atproto | prepend: "https://bsky.app/profile/" }}">🦋</a>{% endif %}
	{% if author.web %}<a href="https://{{ author.web }}">🌐</a>{% endif %}
        on {{ page.date | date: "%d.%m.%Y" }}
      </span>
      {% include toc.html html=content class="toc" item_class="toc-h%level%" %}
      {{ content }}
    </main>
    <footer>
      <p>&copy; The Radicle Team</p>
    </footer>
    <script src="{{ "/assets/js/toggle-theme.js" | relative_url }}"></script>
  </body>
</html>
