<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/page.css" | relative_url }}"/>
  </head>
  <body class="{{ page.variant }}">
    {% include header.html %}
    <main>
      <img class="banner" src="/assets/images/{{ page.image }}" />
      <p class="dim"><em>Radicle is a peer-to-peer, local-first code
        collaboration stack built on Git.</em></p>
      <br />
      <header>
        <h1>{{ page.title }}</h1>
        <span class="date">{{ page.date | date: "%d.%m.%Y" }}</span>
      </header>
      {{ content }}
    </main>
    <aside>
      <p><strong>Follow us</strong> on 🐘 <a href="{{ site.fedi | fedi_to_https }}">Mastodon</a> or 🦋 <a href="https://bsky.app/profile/{{ site.atproto }}">Bluesky</a>.</p>
      <p><strong>Contribute</strong> to Radicle as a 🌱 <a href="/guides/seeder">seeder</a>, 🧙 <a href="{{ 'rad:z3gqcJUoA1n9HaHKufZs5FCSGazv5' | explore }}">developer</a> or by 🪞 <a href="/guides/user/#git-going-with-repositories">mirroring</a> your repositories on the Radicle network.</p>
      <p><strong>Join</strong> our community on 💬 <a href="https://radicle.zulipchat.com">Zulip</a> and discuss your ideas to improve Radicle.</p>
    </aside>
    {% include footer.html %}
    <script src="{{ "/assets/js/toggle-theme.js" | relative_url }}"></script>
  </body>
</html>
